body {
  background-color: rgb(247, 174, 3);
  font-family: Arial, sans-serif;
  margin: 0;
}


.barraSuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;                 
  height: 55px;                
  background-color: #2a2f3a;                                  
}

.barraSuperior .logo{
  width: 60px;
  padding:15px;
  height: auto;
  cursor: pointer;
}


 .barraSuperior .tituloPrincipal{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  color: silver;
  font-style:italic;
  cursor: default;
  
}

.barraSuperior .inicioSesion{
  background-color: #71706E;
  font-style:italic;
  height: 38px;
  width: 100px;
  padding: 5px;
  cursor:pointer;
  text-decoration: none;
  font-weight:bolder;
  border-radius: 10%;
}


.grid {
  display: grid;
  /*solo tengo 4 cartas por fila*/
  grid-template-columns: repeat(4,1fr); /*podria hacerse responsive para que se amolde segun el tamaño de pantalla, en este caso queda fijo*/
  gap: 20px;
  padding: 10px;
}


.card {
/* Utilizo flex para organizar los elementos que tendra la carta, en este caso estaran en una columna*/
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color: #2a2f3a;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  /*una transicion para que al colocar el puntero sobre la carta esta tenga animacion*/
  transition: transform 0.2s,border 0.3s, box-shadow 0.3s ease;
  text-align: center;
  /* default para que el puntero no cambie a texto al pasar por encima de la card*/
  cursor: default;   
  border: 3px solid transparent;
}
     /* con hover agrego animacion que hara crecer la carta al pasar el puntero*/
.card:hover {
  transform: scale(1.05);
  border: 3px solid silver;
  box-shadow: 0 0 15px black;
}
    
.card img {
  width: 150px;        
  height: auto;        
  display: block;      
  margin: 0 auto 10px; 
  border-radius: 6px;
}

.title {
  font-size: 1.2em;
  margin: 15px 0;
  cursor: default;
  color: #fff;
}

.price {
  color: #ffcc01;
  font-weight: bold;
  cursor: default;
}

.details {
  font-size: 0.9em;
  color: #bbb;
  margin: 5px 0;
  cursor: default;
}


.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 13px;
  font-size: 0.8em;
  margin-top: 8px;
  cursor: default;
  color:black;
}


#contenedor-notificaciones{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: block;
  
}

.notificacion{
  background-color: silver;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}

.legendary {
  background-color: gold;
  cursor: default;
}

.Covert { /*exclusive*/
  background-color: red;
  cursor: default;
}

.Restricted { /*rare*/
    background-color: blueviolet;
    cursor: default;
}

.mil-spec { /*common  AGREGAR MAS*/
    background-color: rgb(31, 68, 231);
    cursor: default;
}

.carrito{
  background-color: black;
  width: 70px;
  height: 70px;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 20%;
  cursor: pointer;

  
}
