:root{/*Elementos que no existen en el HTML */
    --blanco: #ffffffff;
    --primario: #d6942f;
    --gris: #757575;
    --grisClaro: #dfe9f380;
    --azulCs: 	/*#5d79ae*/#c1d8e9;
    --fondo: #2a2f3a;
    --pruebaCs: #3684a3;
}

body{
    background-color: #2a2f3a;
    font-family: 'Arial', sans-serif;
}
    .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-header a{

        display: block;  
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        color: var(--blanco);
    
    }

    .nav-header .barraSuperior {
 
    width: 100%;                 
    height: 70px;                
    display: flex;               
    justify-content: center;     
    align-items: center;         
    padding: 0 30px;             
    }

    .skins {
    width: 150px;      /* Ajusta el tamaño */
    height: auto;      /* Mantiene proporción */
    display: block;    /* Para controlarlo mejor */
    margin: 20px auto; /* Centrado */
    }

    .shadow-caja{ /*Header animado*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
        width: 100%;
        background: #2a2f3a;
        font-family: 'Arial', sans-serif;
        
    }
    .shadow-dance-text{
        font-size: 4rem;
        color: #fff;
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
        animation: shadow-dance 4s infinite;
    }

    @keyframes shadow-dance{
        0%, 100%{
            text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
        }
        50%{
            text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
        }
    }

    .sombra{
    /*Css Matic pag para generar gradientes y sombras*/
    box-shadow: 0px 5px 15px 0px rgba(115,111,115,0.49);
    background-color: #d6942f;
    padding: 20px;
    border-radius: 20px;
    
    }

    .sombra2{ /*Esto se podria modificar, no me convence mucho el diseno asi*/
    /*Css Matic pag para generar gradientes y sombras*/
    box-shadow: 0px 5px 15px 0px rgba(115,111,115,0.49);
    /*background-color: lightslategray;*/
    background-color: var(--pruebaCs);
    border: 10px solid black;
    padding: 20px;
    border-radius: 20px;    
    }

    .contenedor{
    max-width: 1200px;
    margin: 30px auto;
    }

    .h2{
        text-align: left;
    }
    /*Contenido main*/
@media (min-width: 768px) {
    .contenido-main{
        display: grid;
        /* grid: 200px 800px / 300px 300px Ejemplo de como definir tamaño de filas y despues tamaño de columnas*/
        grid-template-columns: repeat(3, 1fr); /*fr son fracciones y ahi esta definiendo 3 columnas*/
        column-gap: 10px;/*Para separar las columnas*/
    }
}
    .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido h3{
        color: var(--fondo);
        font-weight: normal;
    }
    .contenido p{
        line-height: 2;
        text-align: center;
    }
    .contenido .icono{
        height: 150px;
        width: 150px;
        background-color: lightslategray;
        border-radius: 20%;/*Con 50% es un circulo exacto*/
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .contenido .icono2{
        height: 200px;
        width: 200px;
        background-color: rgba(3, 88, 247, 0.467);
        border-radius: 10%;/*Con 50% es un circulo exacto*/
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    /*Registro*/
    .formulario{
        background-color: var(--gris);
        width: min(90rem,100%);/*Utilizar el valor mas pequeño*/
        margin: 0 auto;/*Para centrar cuando el padre no es display flex, este tiene display block*/
        padding: 2rem;
        border-radius: 1rem;
    }

    .formulario legend{ /*Titulo del form*/
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1rem;
        color: solid black;
    }

    .formulario fieldset{
        border: none;
    }

    .contenedor-campos{
        display: grid;
    }

    @media (min-width: 768px){
        .contenedor-campos{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto 20rem;
            column-gap: 1rem;
        }
    }

    .campo{
        margin-bottom: .5rem;
    }

    .campo label{
        color: solid black;
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
        font-size: 1.5rem;
    }

    .input-text{
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: .5rem;
    }

    .pie {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-weight: 20px;
        
    }

    