/*------------------- 1. COLORES Y FONDO DE LA PAGINA--------------- */
:root {
    /* Fondos */
    --color-bg-dark: #0D0D0F;
    --color-bg-section: #1A1A1D;
    --color-bg-card-highlight: #FFB000;

    --color-primary: #FFB000;
    --color-secondary: #14C7E8;

    /* Texto */
    --color-text-light: #F5F5F5;
    --color-text-dark: #1A1A1D;
    --color-text-muted: #999999;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg-dark);
   
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-light);
    min-height: 100vh;
}


/*----------------- 2. BARRA SUPERIOR ------------------------------*/

.header {
    
    background-color: var(--color-bg-section);
    border-bottom: 2px solid var(--color-primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

}


.header .logo {
    width: 90px;
    cursor: pointer;
    transition: transform 0.2s;

}

.logo:hover {
    transform: scale(1.1);
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header .botonMarket {
    color: var(--color-text-light);
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.botonMarket:hover {
    color: var(--color-secondary);
    background-color: rgb(20 199 232 / 0.1);
}


.header .botonSesion {
    color: var(--color-text-light);
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.botonSesion:hover {
    color: var(--color-secondary);
    background-color: rgb(20 199 232 / 0.1);
}


/*---------- 3. CUERPO CONTENEDOR DE LA INFORMACION TOTAL------------------------ */

.cuerpoSkinsSeleccionadas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;

    height: 1000px;
    width: 95%;
    background-color: #24272e;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------ 4. CUERPO CONTENEDOR DE LOS ITEMS A COMPRAR Y CUERPO DE PRECIOS------------------------- */

.carrito-lleno {
    background-color: #353942;
    height: 950px;
    width: 630px;
    border-radius: 5px;
}

.columnaItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}


.columnaItems::-webkit-scrollbar {
    width: 10px;
    
}


.columnaItems::-webkit-scrollbar-track {
    background: var(--color-bg-section);
    
    border-radius: 10px;
}


.columnaItems::-webkit-scrollbar-thumb {
    background-color: #353942;
    
    border-radius: 10px;
    border: 2px solid var(--color-bg-section);
    
}


.columnaItems::-webkit-scrollbar-thumb:hover {
    background-color: #3c4049;
   
}

.cuerpoCalculosPrecio {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    padding: 10px 10px;

    background-color: #353942;
    border-radius: 7px;

    font-style: 'Montserrat', sans-serif;
    ;
}


.cuerpoCalculosPrecio .detallesCompra {
    color: silver;
    padding: 10px;

}

.cuerpoCalculosPrecio .impuesto {
    color: red;
    padding: 0px 5px;
}

.cuerpoCalculosPrecio .totalMontoCompra {
    color: silver;
    padding: 100px 5px
}

.cuerpoCalculosPrecio .botonComprar {
    height: 30px;
    width: 200px;
    background-color: green;
    cursor: pointer;
    border-radius: 5px;



}


/*---------------------------- 5. CARDS ------------------------------------------------ */
.cardCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    
    background-color: #1f2125;
   
    border-radius: 8px;
    padding: 12px 15px;
    width: 500px;
    height: 100xpx;

    font-style: 'Montserrat', sans-serif;

    border: 1px solid #525a6c;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
    transition: all 0.2s ease-in-out;
    cursor: default;
}


.cardCarrito:hover {
    transform: translateY(-3px);
   
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.imgYNombre {
    display: flex;
    align-items: center;

}


.imgYNombre .imagenArma {
    height: 50px;
    
    width: 90px;

    object-fit: contain;
    margin-right: 15px;
    
    flex-shrink: 0;
    

   
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.cardCarrito .nombre {
    font-size: 1rem;
    color: var(--color-text-primary);
    margin: 0; 

    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
    
    flex-grow: 1; 
    min-width: 0; 
   
    margin-right: 10px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardCarrito .precio {
    font-size: 1.1rem;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: bold;
    white-space: nowrap; 
    flex-shrink: 0;

}

.cardCarrito .botonSacar {
    color: red;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    transition: transform 0.2s ease;

}

.botonSacar:hover {
    transform: scale(1.1);
}

/*---------------------------- 6. TEXTOS Y OTROS ------------------------------------------------ */

.textVacio {
    color: #FFB000;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.oculto {
    display: none !important;
}