
/* 1. COLORES DESIGNADOS Y FONDO DE LA PAGINA */

:root {
    /* Fondos */
    --color-bg-dark: #0D0D0F;
    --color-bg-section: #1A1A1D;
    --color-bg-card-highlight: #FFB000;

    --color-primary: #FFB000;
    --color-secondary: #14C7E8;

    /* Texto */
    --color-text-light: #F5F5F5;
    --color-text-dark: #1A1A1D;
    --color-text-muted: #999999;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg-dark);
    /* Fondo oscuro */
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-light);
    min-height: 100vh;
}

/* 2. BARRA SUPERIOR */

.header {
    /*ARREGLAR UBICACION BUGEADA CUANDO SE ACHICA MUCHO 
      ALINEAR BIEN LOS ICONOS*/
    background-color: var(--color-bg-section);
    border-bottom: 2px solid var(--color-primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:20px;

}


.header .logo {
    width: 90px;
    cursor: pointer;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.1);
}


.botones{
    display:flex;
    flex-direction: row;
    align-items: center;

}

.header .botonPrincipal{
    color:var(--color-text-light);
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.botonPrincial:hover {
    color: var(--color-secondary);
    background-color: rgb(20 199 232 / 0.1);
}


.header .botonSesion {
    color:var(--color-text-light);
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.botonSesion:hover {
    color: var(--color-secondary);
    background-color: rgb(20 199 232 / 0.1);
}



/* 3. FILTROS Y CONTROLES DEL MERCADO */

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* <-- El 1fr es el problema */
    gap: 20px;
    padding: 25px;
}


.market-controls {
    padding: 10px 0;
    margin-bottom: 30px;
}

.filter-form {
    display: flex;
    align-items: center;
    gap: 15px;

    justify-content: flex-start;
}

.filter-label {
    color: var(--color-text-light);
    font-weight: 500;
}

.filter-select {
    background-color: var(--color-bg-section);
    color: var(--color-text-light);
    border: 1px solid var(--color-secondary);
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    appearance: none;
    min-width: 150px;
    transition: border-color 0.3s;
}

.filter-select:hover {
    border-color: var(--color-primary);
}


/* 4. GRID Y CARDS DE SKINS */

.card {
    /* Utilizo flex para organizar los elementos que tendra la carta, en este caso estaran en una columna*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #222020;
    border-radius: 12px;
    padding: 15px 15px 40px 15px;

    /*Le doy un tamanio fijo a cada carta para que no intente ocupar el 100% de la pag si hay una sola */
    width: 243px;

    /*una transicion para que al colocar el puntero sobre la carta esta tenga animacion*/
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s ease;
    overflow: hidden;
    /* default para que el puntero no cambie a texto al pasar por encima de la card*/
    cursor: default;
    border: 3px solid transparent;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px #FFB000;
}

.card img { 
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 6px;

}

.botonComprar {
    position: absolute;
    width: 100%;
    font: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: #FFB000;
    color: black;
    border: none;
    border-radius: 0 0 10px 10px;
    height: 47px;

    /*botomm y su valor hacen que lo que se vaya a desplegar sea
  mas abajo o arriba de la posicion donde esta el objeto del cual nace */
    bottom: -20px;
    left: 0;
    right: 0;

    /* opacity 0 lo hace invisible para que luego el hover lo muestre solo cuando tengo el puntero encima*/
    opacity: 0;
    transition: opacity 0, 3s ease;
    transition-delay: 0s;


}

.card:hover .botonComprar {
    opacity: 1;
    border: 3px solid #FFB000;
    transition-delay: 0.35s;


}

.title {
    font-size: 1.2em;
    margin: 15px 0 5px;
    color: var(--color-text-light);
}

.price {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.details {
    font-size: 0.9em;
    color: var(--color-text-muted);
    margin: 5px 0;
}



.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
    margin-top: 8px;
    cursor: default;
    color: var(--color-bg-dark);
    font-weight: 700;
}

.legendary {
    background-color: #FFD700;
}

.Covert {
    background-color: #EB4B4B;
}

.Restricted {
    background-color: #8847FF;
}

.mil-spec {
    background-color: #4B69FF;
}


/* 5. CARRITO Y NOTIFICACIONES */

.cart-btn {
    background-color: #FFB000;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    /* Circular */
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.cart-btn:hover {
    background-color: #fabd3a;
}


.cart-btn img {
    width: 35px;
    height: 35px;
    filter: invert(1);
}

#contenedor-notificaciones {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: block;
}

.notificacion {
    background-color: var(--color-primary);
    color: var(--color-bg-dark);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}